<!DOCTYPE html>
<html>
  <head>
    <title>WheresWaldo</title>
    <%= include_gon %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <% if action_name === "index" %>
    <body class="index-body">
  <% else %>
    <body>
  <% end %>
    <%= yield %>
  </body>
</html>
